*{  
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.LineDash {
    position: absolute;
    top: 190px;
    width: 520px;
    border-style: dashed;
    border-width: 1px;
}

/* 주문 페이지 스케일 조정 */
.Basket {
    background-color: #E2A7B7;
    position: absolute;
    top:3%;
    left: 50%;
    width: 95%;
    height: 1080px;
    transform: translateX(-50%);
    border-left: solid 4px white;
    border-right: solid 4px white;
}

/* 구매 상품 정보 */
.Basket > .Table {
    display:flex;
    text-align: center;
    border: 2x solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 1000px;
    height: 100px;
}
.OrderImage {
   
}

.OrderCategory {
    height: 10px;
    width: 100px;
    border: 2px solid cadetblue;
    border-bottom: 3px solid black;
}


.OrderList {
    border: 1px solid cadetblue;
    height: 10px;
    color:rgb(0, 0, 0);
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* 주문자 정보 */

.OrderInfomation {
    background-color: sandybrown;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: 20px;
    width: 520px;
    height: 500px;
}

.OrderInfoText {
    position: absolute;
    top: 70px;
    right: 340px;
    font-size: 35px;
}

.OrderName {
    position: absolute;
    top: 160px;
    right: 400px;
    font-size: 24px;
}

.OrderNameText {
    position: absolute;
    top: 220px;
    right: 447px;
    font-size: 24px;
    border: 1px solid red;
}

.OrderPhoneNumber {
    position: absolute;
    top: 280px;
    right: 407px;
    font-size: 24px;
}

.OrderPhoneNumberText {
    position: absolute;
    top: 340px;
    right: 447px;
    font-size: 24px;
    border: 1px solid red;
}

/* 가격 정보 */
.PriceInfomation {
    background-color: skyblue;
    border-radius: 50px;
    position: absolute;
    top: 500px;
    right: 20px;
    width: 520px;
    height: 360px;
}

.PriceInfoText {
    position: absolute;
    top: 50px;
    right: 380px;
    font-size: 35px;
}

.TotalPrice {
    position: absolute;
    top: 150px;
    right: 20px;
    font-size: 24px;
}

.TotalPriceText {
    border: 1px solid red;
    position: absolute;
    top: 200px;
    right: 20px;
    font-size: 24px;
}
.basketBuyBtn {
    position: relative;
    border-radius: 30px;
    width:150px;
    height:70px;
    left:50px;
    top:250px;
    font-size:large;
    color:rgb(255, 0, 221);
}
.basketBuyBtn:hover {
    background-color: rgb(17, 0, 255); 
    color:white;
    transition:0.5s ;
}
.basketToMain {
    position: relative;
    border-radius: 30px;
    width:150px;
    height:70px;
    left:200px;
    top:250px;
    font-size:large;
    color:rgb(255, 0, 221);
}
.basketToMain:hover {
    background-color: rgb(17, 0, 255); 
    color:white;
    transition:0.5s ;
}