* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
}
#all {
  position: absolute;
  left: 50%;
  width: 1500px;
  height: 1080px;
  transform: translateX(-50%);
}
#main {
    height:9rem;
    margin:1rem;
    padding:1rem;
    font-size : 6rem;
    font-style:italic;
    text-align: center;
    color: pink;
    background-color: #721c24;
    background-image:url(https://cdn.pixabay.com/photo/2016/03/05/23/02/barbecue-1239434_960_720.jpg);
}
.userNav {
  margin:10px;
  padding:5px;  
  height:4rem;
  display:flex;
  background-color: #e97381;
}
.meatNav {
  display:flex;
  margin:1rem;
  padding:1rem;
  justify-content: space-between;
  text-align: center;
  background-color: #8b8889;
}
.useritem {
  
  margin:10px;
  padding:1px;
  color: rgb(47, 51, 51);
}
.logout {
  cursor:pointer;
}
.search {
  margin-left:auto;
  width:500px;
  height:40px;

}
.item {
  width:15%;
  padding:0.5rem;
  color:white;
}
.userimage {
  width:40px;
  height:40px;
}
.afterLogin {
  display:flex;
}
.item1 {
    background-color:#e97381;
}
.item2 {
    background-color:#e97381
}
.item3 {
    background-color:#e97381 
}
.item4 {
  background-color:#e97381 
}
.meatContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0.25rem;
}