* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
}
#all {
  position: absolute;
  left: 50%;
  width: 1500px;
  height: 1080px;
  transform: translateX(-50%);
}
#main {
    height:9rem;
    width: 92rem;
    margin:1rem;
    padding:1rem;
    font-size : 6rem;
    font-style:italic;
    text-align: center;
    color: pink;
    background-color: #721c24;
    background-image:url(https://cdn.pixabay.com/photo/2016/03/05/23/02/barbecue-1239434_960_720.jpg);

}
.userNav {
  height:5rem;
  width: 92rem;
  margin:1rem;
  padding:1rem; 
  display:flex;
  background-color: #e97381;
}
.meatNav {
  display:flex;
  height:5rem;
  width: 92rem;
  margin:1rem;
  padding:1rem;
  justify-content: space-between;
  text-align: center;
  background-color: #8b8889;
}
.useritem {
  padding:1px;
  color: rgb(47, 51, 51);
  margin-top: 10px;
}
.logout {
  margin-top: 10px;
  margin-left:80px;
  margin-right: 20px;
  cursor:pointer;
}
.search {
  position: absolute;
  right: 100px;
  width:300px;
  height:40px;

}
.item {
  width:15%;
  padding:0.7rem;
  color:white;
}
.userimage {
  position: absolute;
  width:52px;
  height:50px;
}
.SearchIcon{
  position: absolute;
  right: 50px;
  top: 197px;
  width:40px;
  height:40px;
}
.afterLogin {
  display:flex;
}
.item1, .item2, .item3, .item4 {
    background-color:#e97381;
}
.meatContainer {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 4rem;
  height:9rem;
  width: 80rem;
  margin:0rem;
  padding:1rem;
}